* {
  box-sizing: border-box;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: HelveticaNeueCyr;
  font-weight: 300;
  font-size: 14px;
  max-width: 1170px;
  margin: auto;
}
.wrapper {
  padding: 15px;
  position: relative;
}
.header {
  margin-bottom: 595px;
}
.container {
  display: flex;
  flex-direction: row;
}
.header-logo {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}
.header-menu-logo {
  height: 35px;
  width: 35px;
}
.logo-description {
  font-size: 13px;
  color: grey;
  text-align: right;
}
.header-action {
  display: none;
}
.tel-num-block {
  display: none;
  margin-left: auto;
  text-align: right;
}
.contact-us {
  margin-bottom: 10px;
  font-weight: 500;
}
.tel-num {
  font-weight: 300;
  font-size: 18px;
}
.navigation-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__main-list-link {
  margin-right: 34px;
}
.nav__main-list-link:last-child {
  margin-right: 0;
}
.nav__main-list-link:hover {
  border-bottom: 2px solid #78B660;
}
.nav__menu-list {
  position: relative;
}
.nav__middle-menu-drop {
  height: 210px;
  width: 250px;
  background: #DBEBD3;
  padding: 20px 0;
  font-size: 14px;
  font-weight: bold;
}
.nav__middle-link {
  padding-left: 20px;
}
.nav__middle-list-link:hover {
  background-color: #F2F2F2;
}
.nav__middle-list-link {
  position: relative;
}
.nav__middle-link-arrow:hover::after {
  content: "";
  position: absolute;
  border-right: 2px solid #C9DEC1;
  border-bottom: 2px solid #C9DEC1;
  height: 8px;
  width: 8px;
  top: 7px;
  right: 20px;
  transform: rotate(-45deg);
}
.nav__lower-menu-drop {
  font-size: 13px;
  position: absolute;
  transition: all 1s ease;
  left: 250px;
  top: -44px;
  width: 250px;
  height: 210px;
  padding: 20px;
  display: none;
  background: rgba(243,243,243, 0.9);
}
.nav__lower-menu-link:hover {
  border-bottom: 2px solid #78B660;
}
ul li li {
  font-weight: 500;
}
ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
  left: -20px;
  top: 26px;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 100;
}
ul li ul li {
  clear: both;
  width: 100%;
}
.nav__link-box {
  display: block;
}
.nav__link {
  text-decoration: none;
  color: black;
  line-height: 24px;
}
.ad {
  position: absolute;
  top: 208px;
  left: 80px;
  max-width: 435px;
  height: 120px;
  display: flex;
  z-index: 90;
}
.ad-content {
  display: flex;
  flex-direction: column;
}
.ad-brace-left {
  fill: #92C47F;
  width: 40px;
  height: 120px;
}
.ad-brace-right {
  fill: #92C47F;
  width: 40px;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.ad-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
.ad-description {
  font-size: 23px;
  line-height: 32px;
}
.ad-content-row {
  display: flex;
  flex-direction: row;
}
.ad-percent {
  color: #92C47F;
  font-size: 52px;
  font-weight: bold;
  margin-left: 13px;
}
.main-text {
  text-align: center;
}
.footer {
  height: 50px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-bottom: 20px;
  }
  .header-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header-action {
    display: block;
  }
  .nav__main-list-link:hover {
    border-bottom: none;
  }
  .nav__middle-list-link:hover {
    background-color: inherit;
  }
  .nav__middle-link-arrow:hover::after {
    display: none;
  }
  .nav__lower-menu-link:hover {
    border-bottom: none;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 264px;
    height: 100%;
    position: fixed;
    background-color: #DBEAD3;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    padding: 24px 0 0 20px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition-property: visibility, opacity, transform;
    transition-duration: 0.2s;
  }
  .nav__middle-menu--active {
    visibility: visible;
    display: block;
    background: rgba(243,243,243, 1);
  }
  .nav__lower-menu-drop {
    font-size: 13px;
    position: absolute;
    transition: all 1s ease;
    left: 20px;
    top: 20px;
    width: 250px;
    height: 210px;
    padding: 20px;
    display: none;
    background: rgba(243,243,243, 1);
  }
  .nav__lower-menu--active {
    visibility: visible;
    display: block;
    background: rgba(243,243,243, 1);
  }
  .nav-scrim {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition-property: visibility, opacity;
    transition-duration: 0.2s;
    z-index: 99;
  }
  .nav--active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .nav-scrim--active {
    visibility: visible;
    opacity: 1;
  }
  .ad {
    display: none;
  }
  .slider {
    display: none;
  }
}

@media (min-width: 1110px) {
  .tel-num-block {
    display: inline-block;
  }
}
.slider {
  width: 1170px;
  height: 860px;
  padding: 0 15px;
  overflow: hidden;
}
.middle {
  position: absolute;
  top: 555px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-navigation {
  position: absolute;
  top: 516px;
  left: 110px;
  transform: translateX(-50%);
  display: flex;
}
#active label {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  cursor: pointer;
  background: grey;
  opacity: 0.5;
  transition: all 0.4s ease;
}
.bar:last-child {
  margin-right: 0;
}
.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}
input[name="slider"] {
 display: none;
}
.slides {
  width: 300%;
  display: flex;
}
.slide {
  width: 33.33333%;
  transition: all 0.6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -34%;
}
#r3:checked ~ .s1 {
  margin-left: -67%;
}
#r1:checked ~ #active label:nth-child(1),
#r2:checked ~ #active label:nth-child(2),
#r3:checked ~ #active label:nth-child(3) {
  background: #A5CA6E;
  opacity: 1;
}
.title {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 300;
}
.site-description-text {
  line-height: 26px;
}
