* {
  box-sizing: border-box;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: HelveticaNeueCyr;
  font-weight: 300;
  font-size: 14px;
  max-width: 1170px;
  margin: auto;
}
.wrapper {
  padding: 15px;
}
.header {
  margin-bottom: 595px;
}
.container {
  display: flex;
  flex-direction: row;
}
.header-logo {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}
.header-menu-logo {
  height: 35px;
  width: 35px;
}
.logo-description {
  font-size: 13px;
  color: grey;
  text-align: right;
}
.header-action {
  display: none;
}
.tel-num-block {
  display: none;
  margin-left: auto;
}
.contact-us {
  margin-bottom: 10px;
  font-weight: 500;
}
.tel-num {
  font-weight: 300;  
}
.navigation-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__menu-list {
  position: relative;
}
ul li li {
  font-weight: 500;
}
ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
  left: 30px;
  padding: 8px;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  background: rgba(245, 245, 245, 1);
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
.nav__link-box {
  display: block;
  padding: 8px 16px;
}
.header-nav li ul {
  background-color: white;
}
.header-nav li ul li ul {
  background-color: #DBEAD3;
}
.nav__link {
  text-decoration: none;
  color: black;
  line-height: 24px;
}
.main-text {
  text-align: center;
}
.footer {
  height: 50px;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-bottom: 20px;
  }
  .header-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header-action {
    display: block;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 264px;
    height: 100%;
    position: fixed;
    background-color: #DBEAD3;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    padding: 24px 0;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition-property: visibility, opacity, transform;
    transition-duration: 0.2s;
  }
  .nav-scrim {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition-property: visibility, opacity;
    transition-duration: 0.2s;
    z-index: 99;
  }
  .nav--active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .nav-scrim--active {
    visibility: visible;
    opacity: 1;
  }
  .slider {
    display: none;
  }
}
@media (min-width: 1110px) {
  .tel-num-block {
    display: inline-block;
  }
}
.slider {
  width: 1170px;
  height: 860px;
  padding: 0 15px;
  border: 2px solid red;
  overflow: hidden;
}
.middle {
  position: absolute;
  top: 555px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-navigation {
  position: absolute;
  top: 516px;
  left: 110px;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  cursor: pointer;
  background-color: grey;
  opacity: 0.5;
  transition: all 0.4s ease;
}
.bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 300%;
  display: flex;
}
.slide {
  width: 33.3333%;
  transition: all 0.6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -33.3333%;
}
#r3:checked ~ .s1 {
  margin-left: -66.666%;
}
.title {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 300;
}
.site-description-text {
  line-height: 26px;
}
